@use '@/style/mixins/mixins' as *;
@use 'sass:math' as *;
@include cls('gridding-lines') {
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;

  position: absolute;
  pointer-events: none;
}
@include cls('gridding-line') {
  position: absolute;
  &-vertical {
    border-right: 1px solid $color-border-2;
  }
  &-horizontal {
    border-bottom: 1px solid $color-border-2;
  }
}
