@use '@/style/mixins/mixins' as *;
@use 'sass:math' as *;
$col-height: var(--col-h);
@include cls('gridding-lines') {
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;

  position: absolute;
  pointer-events: none;

  &-cell {
    width: 100%;
    border-top: 1px solid $color-border-2;
    box-sizing: border-box;
    &:first-of-type {
      border-top: 0;
    }
  }
}
