@use '@/style/mixins/mixins' as *;
@use 'sass:math' as *;
$col-height: var(--col-h);
@include cls('gridding-lines') {
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;

  position: absolute;

  background:
    linear-gradient(
        to bottom,
        $color-border-2 0px,
        $color-border-2 1px,
        transparent 1px,
        transparent 100%
      )
      0px 0px/100% $col-height repeat-y,
    linear-gradient(
        to right,
        $color-border-2 0px,
        $color-border-2 1px,
        transparent 1px,
        transparent 100%
      )
      0px 0px / calc(100% / 7) 100% repeat-x;
  pointer-events: none;
}
