@use '@/style/mixins/mixins' as *;
@use 'sass:math' as *;

@include cls('multiple-columns') {
  position: relative;
  &-content {
    display: flex;
    width: 100%;
  }
  @include cls('column-border') {
    &:not(:nth-last-of-type(1)),
    &:last-of-type {
      border-right: 0;
    }
    &:first-of-type {
      border-left: 0;
    }
  }
}
