@use '@/style/mixins/mixins' as *;
@use 'sass:math' as *;

@include cls('week-view') {
  position: relative;
  &-cols {
    display: flex;
    width: 100%;
  }
  @include cls('column-border') {
    &:not(:nth-last-of-type(1)) {
      border-right: 0;
    }
  }
}
