@use '@/style/mixins/mixins' as *;
@use 'sass:math' as *;
$time-period-width: 72px;
$col-height: var(--col-h);
$border: 1px solid $color-border-2;
@include cls('layout-scroll') {
  height: 100%;
  border: $border;
}
@include cls('layout') {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-header {
    width: 100%;
  }
  &-content {
    width: 100%;
    min-height: 100%;
    display: flex;
    &-bar {
      flex-shrink: 0;
      border-right: 0;
    }
    &-grid {
      flex: 1;
      border-left: 0;
      overflow: hidden;
      &-columns {
        min-width: fit-content;
        position: relative;
      }
    }
  }
}
