@use '../global.scss';
@mixin cls($className) {
  @if $className != '' {
  }
  .#{global.$css-prefix}-#{$className} {
    @content;
  }
}

/**
* hidden scroll bar
*/
@mixin hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

// 单行文本 超出隐藏
@mixin textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本超出隐藏
@mixin manyEllipsis($row: 2) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

// 相对定位
@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

// 相对定位且 剧中显示
@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

// 三角形
@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  } @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  } @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  } @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}

// 背景分割线
@mixin backgroundSplitLine($color, $gap, $direction: bottom) {
  background: linear-gradient(to $direction, $color 0px, $color 1px, #fff 1px, #fff 100%) repeat-y;
  background-size: 100% $gap;
}
